@{
	ViewData["Title"] = "Data Cleared";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-info">Schedule data erased</h3>
<div class="row">
    <p style="margin-left:16px">The schedule and it's dependent dictionaries were cleared</p>
</div>
<div class="row">
    <a href="@Url.Action("Index", "Room")" style="margin-left:15px" class="btn btn-success">Back</a>
</div>